.div-box{
    position: relative;
    margin-right: 85%;
    padding: 1%;
    top: 30%;
    left:50%;
}


h3{
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
    margin-left: 40px;
}

button{
    margin-left: 15px;
}

.component1{
    background-color: blue;
}
.component2{
    background-color:red;
}